extends layout

block content
  a(href="/new")
    button#add-message(type="button") New message
  ul#message-list
    each message in messages
      li.message-entry
        h3.message-user= message.user + ":"
        p.message-content= message.text
        p.message-date= message.added