body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

label {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

button {
  padding: 0.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.message-entry {
  padding: 1rem;
}

.message-user {
  color: #1E3A8A;
}

.message-content {
  font-size: 1.5rem;
}
