body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
  padding: 0;
}

.message {
  padding: 1rem;
}

.message-user {
  color: #1E3A8A;
}

.message-content {
  font-size: 1.5rem;
}